@import url('bootstrap');
@import url('bootstrap-icons');

.logo
{
  margin-bottom: 2rem;
  border-radius: 1rem;
}
header {
  text-align: center;
  padding: 2rem 0;


  nav {
    a {
      color: black!important;
    }
    .current {
      background-color: #001336;
      color: white!important;
    }
  }
}


main {
  min-height: 70vh;
  background-image: url('./assets/img/background.jpg');
}


footer {
  background-image: url('./assets/img/mountains.jpg');
  background-repeat: no-repeat;
  background-position: bottom;

}